/* body{
    background-color: #a2d2ff;
} */

.btnAdd {
    background-color: #8338ec;
    color: white;
    text-align: center;
}


li {
    list-style-type: none; 
}

/* Desktop */
@media (min-width: 1000px){

    .cardPrincipal{
        /* centralizar elementos */
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto;
        padding-top: 20px; */
        background-color: whitesmoke;
        width: 700px;
        height: 500px;
    }

    .card {
        margin-bottom: 10px;
    }

    .inputText{
        width: 400px;
        display: block;
        margin-bottom: 10px;
        height: 30px;
        border: 1px solid darkblue;
    }

}

/* Mobile */
@media (max-width: 1000px){
    .card {
        margin-bottom: 10px;
    }

    .inputText{
        width: 400px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
